<div class="row">
  <h5 class="col-md-1 main-title" (click)="volverVentas()">¡HolaFeria!</h5>

  <!-- COMPONENTE CON TODOS LOS BOTONES -->
  <botonera class="col-md-8"></botonera>

  <!-- NAVEGADOR DE MODULOS-->
  <div class="col-md-3 text-right">
    <div class="btn-group">
      <button id="ventas" class="btn btn-outline-danger" (click)="navegar('')">Ventas</button>
      <button id="stock" class="btn btn-outline-info" (click)="navegar('stock')">Stock</button>
      <button id="estadisticas" class="btn btn-outline-success" (click)="navegar('estadisticas')">Estadísticas</button>
      <button id="usuarios" class="btn btn-outline-primary" (click)="navegar('usuarios')">Usuarios</button>
    </div>
  </div>
</div>
