<div class="row">
    <div class="col-md-12">
      <h4>{{ titulo }}</h4>
    </div>
  </div>

  <div class="row" *ngIf="listaArticulosElim.length > 0">
    <div class="col-md-10 table-center">
      <table class="table table-hover">
        <thead>
          <th>¿Cuando se modificó?</th>
          <th>¿Qué articulo?</th>
          <th>¿Quien lo eliminó?</th>
          <th>¿Cual fue su precio en stock?</th>
        </thead>
        <tbody>
          <tr *ngFor="let articulo of listaArticulosElim">
            <td>{{ articulo.fechaEliminado | date: "dd-MMM-yyyy, HH:mm" }}</td>
            <td>{{ articulo.darCodigoNombre }}</td>
            <td>{{ articulo.autorizacion }}</td>
            <td>{{ articulo.precioVenta | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
