<div class="row">
  <div class="col-md-12">
    <h4>{{ titulo }}</h4>
  </div>
</div>

<div class="row" *ngIf="listaArticulos.length > 0">
  <div class="col-md-10 table-center">
    <table class="table table-hover">
      <thead>
        <th>¿Cuando se vendió?</th>
        <th>¿Cuál es el artículo?</th>
        <th>¿A cuanto se vendió?</th>
        <th>¿Quién lo vendió?</th>
      </thead>
      <tbody>
        <tr *ngFor="let art of listaArticulos">
          <ng-container *ngIf="art.mostrar">
            <td>{{ art.fechaVenta | date: "dd-MMM-yyyy, HH:mm" }}</td>
            <td>{{ art.darCodigoNombre }}</td>
            <td>{{ art.precioVenta.valor | currency }}</td>
            <td>{{ art.vendedor }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
