<div class="row">
  <div class="col-md-12">
    <h4>Últimas jornadas trabajadas</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-10 table-center">
    <table class="table table-hover" *ngIf="ultimasJornadas.length > 0; else noEstadisticas">
      <thead>
        <th>Fecha</th>
        <th>Total - Efectivo</th>
        <th>Total - Tarjetas</th>
        <th>Detalles</th>
      </thead>
      <tbody>
        <tr *ngFor="let jor of ultimasJornadas; index as i">
          <td>{{jor.fechaInicio.valor | date: "dd-MMM-yyyy"}}</td>
          <td>{{jor.montoEfectivo | currency}}</td>
          <td>{{jor.montoTarjeta | currency}}</td>
          <td>
            <button
              class="btn btn-success"
              title="Ver detalles de la jornada"
              (click)="verJornada(i)">Ver detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noEstadisticas>
      <p>No hay jornadas registrados por el momento.</p>
    </ng-template>
  </div>
</div>

<hr class="col-md-6" />

<div class="row">
  <div class="col-md-12">
    <h4 class="second-title">Estadística mensual</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-10 table-center">
    <table class="table table-hover" *ngIf="listaMeses.length > 0; else noHayMeses">
      <thead>
        <th>Fecha</th>
        <th>Total - Efectivo</th>
        <th>Total - Tarjetas</th>
        <th>Detalles</th>
      </thead>
      <tbody>
        <tr *ngFor="let mes of listaMeses; index as i">
          <td>{{mes.fecha.valor | date: "MMM-yyyy"}}</td>
          <td>{{mes.montoEfectivo | currency}}</td>
          <td>{{mes.montoTarjeta | currency}}</td>
          <td>
            <button
              class="btn btn-success"
              title="Ver detalles del mes"
              (click)="verMes(mes.id)">Ver detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noHayMeses>
      <p>No hay estadisticas registradas por el momento.</p>
    </ng-template>
  </div>
</div>
