<div class="row">
  <div class="col-md-12">
    <h4>Datos de {{usuarioMod.nombre.valorPrevio}}</h4>
  </div>
</div>

<div *ngIf="!usuarioMod.editando">
  <div class="form-group row">
    <label class="col-md-6 offset-md-3 col-form-label">Nombre y apellido: {{usuarioMod.nombre.valor}}</label>
  </div>
  <div class="form-group row">
    <label class="col-md-6 offset-md-3 col-form-label">Tipo de usuario: {{usuarioMod.tipoUsuario.valor}}</label>
  </div>
  <div class="form-group row" *ngIf="usuarioMod.esVendedor()">
    <label class="col-md-6 offset-md-3 col-form-label">Sueldo por jornada: {{usuarioMod.sueldo.valor | currency}}</label>
  </div>
  <div class="form-group row">
    <label class="col-md-6 offset-md-3 col-form-label">Estado: {{usuarioMod.dameEstado()}}</label>
  </div>
  <div class="form-group row">
    <label class="col-md-6 offset-md-3 col-form-label">Creado el: {{usuarioMod.creadoEl.valor | date: "dd/MM/yyyy, HH:mm"}}</label>
  </div>
  <div class="form-group row" *ngIf="!usuarioMod.estado.valor">
    <label class="col-md-6 offset-md-3 col-form-label">Bloqueado el: {{usuarioMod.bloqueadoEl.valor | date: "dd/MM/yyyy, HH:mm"}}</label>
  </div>
  <div class="form-group row" *ngIf="usuarioMod.ultimoAcceso.valor">
    <label class="col-md-6 offset-md-3 col-form-label">Último acceso: {{usuarioMod.ultimoAcceso.valor | date: "dd/MM/yyyy, HH:mm"}}</label>
  </div>
</div>

<div *ngIf="usuarioMod.editando">
  <div class="form-group row">
    <label class="col-md-2 offset-md-4 text-left col-form-label">Nombre y apellido:</label>
    <div class="col-md-3">
      <input type="text"
        class="form-control"
        placeholder="Nombre y apellido"
        [(ngModel)]="usuarioMod.nombre.valor"
        [ngClass]="{ 'validation': !usuarioMod.nombre.esValido }">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 offset-md-4 text-left col-form-label">Tipo de usuario:</label>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="tipoUsuario" value="Administrador"
          [(ngModel)]="usuarioMod.tipoUsuario.valor">
        <label class="form-check-label"
          [ngClass]="{ 'text-validation': !usuarioMod.tipoUsuario.esValido }">
          Administrador
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="tipoUsuario" value="Vendedor"
          [(ngModel)]="usuarioMod.tipoUsuario.valor">
        <label class="form-check-label"
          [ngClass]="{ 'text-validation': !usuarioMod.tipoUsuario.esValido }">
          Vendedor
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 offset-md-4 text-left col-form-label">Habilitar acceso al sistema:</label>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="usuarioMod.estado.valor">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 offset-md-4 text-left col-form-label">Sueldo por jornada:</label>
    <div class="col-md-3">
      <input type="text"
        class="form-control"
        placeholder="$1000"
        [(ngModel)]="usuarioMod.sueldo.valor"
        [ngClass]="{ 'validation': !usuarioMod.sueldo.esValido }">
    </div>
  </div>

  <hr class="col-md-6" />

  <div class="form-group row">
    <label class="col-md-2 offset-md-4 text-left col-form-label">Contraseña anterior:</label>
    <div class="col-md-3">
      <input type="password"
        class="form-control"
        placeholder="Contraseña"
        [(ngModel)]="usuarioMod.pass.valor"
        [ngClass]="{ 'validation': !usuarioMod.modPassOk }">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 offset-md-4 text-left col-form-label">Nueva contraseña:</label>
    <div class="col-md-3">
      <input type="password"
        class="form-control"
        placeholder="Contraseña"
        [(ngModel)]="usuarioMod.passNueva.valor"
        [ngClass]="{ 'validation': !usuarioMod.modPassOk }">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 offset-md-4 text-left col-form-label">Repetir contraseña:</label>
    <div class="col-md-3">
      <input type="password"
      class="form-control"
      placeholder="Contraseña repetida"
      [(ngModel)]="usuarioMod.passComparar.valor"
      [ngClass]="{ 'validation': !usuarioMod.modPassOk }">
    </div>
  </div>
</div>
