<div class="row">
  <div class="col-md-12">
    <h4>
      Agregar nuevos artículos al stock
      <span
        class="badge badge-info mr-2 separado"
        placement="bottom"
        [ngbPopover]="listaDescuentos">
        Códigos
      </span>
    </h4>

    <ng-template #listaDescuentos>
      <div *ngFor="let texto of descuentos">
        <div>{{texto}}</div>
      </div>
    </ng-template>
  </div>

  <div class="col-md-10 table-center">
    <table class="table table-hover">
      <thead>
        <th>Código</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th *ngIf="articulos.length > 1">Eliminar</th>
      </thead>
      <tbody>
        <tr *ngFor="let art of articulos; index as i">
          <td>
            <input
              id="art-{{i}}"
              type="text"
              class="form-control"
              placeholder="Por ej: CJ{{i+1}}"
              *ngIf="art.mostrar"
              (keyup.enter)="componerCodigo(art)"
              (keydown.Tab)="componerCodigo(art)"
              [(ngModel)]="art.codigo.valor"
              [ngClass]="{ 'validation': !art.codigo.esValido }"
            >
            <span *ngIf="!art.mostrar">{{art.codigo.valor}}</span>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="Por ej: Campera jean"
              [(ngModel)]="art.descripcion.valor"
              [ngClass]="{ 'validation': !art.descripcion.esValido }">
          </td>
          <td>
            <input type="text" class="form-control" placeholder="Por ej: $250"
              [(ngModel)]="art.precioStock.valor"
              [ngClass]="{ 'validation': !art.precioStock.esValido }">
          </td>
          <td *ngIf="articulos.length > 1">
            <button class="btn btn-danger" title="Eliminar artículo del listado" (click)="quitarArticulo(i)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
