<div class="row">
  <div class="col-md-12">
    <h4>¡Buenos días! Antes de comenzar, te pregunto:</h4>
  </div>
</div>

<div class="form-group row">
  <hr class="col-md-6" />

  <label class="col-md-3 offset-md-3 col-form-label"
    >¿Con cuánto cambio vas a comenzar?</label
  >
  <div class="col-md-3">
    <input
      type="text"
      class="form-control"
      placeholder="$1500"
      (keyup.enter)="iniciarJornada()"
      [(ngModel)]="nuevaJornada.cambio.valor"
      [ngClass]="{ validation: !nuevaJornada.cambio.esValido }"
    />
  </div>
</div>

<div class="form-group row">
  <hr class="col-md-6" />

  <label
    class="col-md-6 offset-md-3 col-form-label text-center pregunta-vendedores"
    >¿Quienes van a vender?</label
  >

  <div class="col-md-6 table-center">
    <table class="table table-hover">
      <thead>
        <th>Vendedor</th>
        <th>Sueldo</th>
        <th *ngIf="nuevaJornada.listaVendedores.length > 1">Opciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let vend of nuevaJornada.listaVendedores; index as i">
          <td>
            <input
              type="text"
              class="form-control"
              (keyup.enter)="setearVendedor(vend.nombre.valor, i)"
              (keydown.Tab)="setearVendedor(vend.nombre.valor, i)"
              [(ngModel)]="vend.nombre.valor"
              [ngClass]="{ validation: !vend.nombre.esValido }"
            />
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="vend.sueldo.valor"
              [ngClass]="{ validation: !vend.sueldo.esValido }"
            />
          </td>
          <td *ngIf="nuevaJornada.listaVendedores.length > 1">
            <button
              class="btn btn-danger"
              title="Eliminar vendedor del listado"
              (click)="quitarVendedor(i)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="form-group row">
  <hr class="col-md-6" />

  <label class="col-md-3 offset-md-3 col-form-label"
    >¿Hoy habrá descuentos?</label
  >
  <div class="col-md-1 col-form-label">
    <div class="form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="hayDescuentos"
        value="true"
        [(ngModel)]="nuevaJornada.hayDescuentos"
        (click)="mostrarDescuentos()"
      />
      <label
        class="form-check-label"
        [ngClass]="{ 'text-validation': !nuevaJornada.hayDescuentos }"
      >
        SI
      </label>
    </div>
    <div class="form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="hayDescuentos"
        value="false"
        [(ngModel)]="nuevaJornada.hayDescuentos"
      />
      <label
        class="form-check-label"
        [ngClass]="{ 'text-validation': !nuevaJornada.hayDescuentos }"
      >
        NO
      </label>
    </div>
  </div>
  <div class="col-md-2" *ngIf="nuevaJornada.tieneDescuento">
    <button type="button" class="btn btn-success" (click)="agregarDescuento()">
      Agregar descuento
    </button>
  </div>

  <span
    class="badge badge-info mr-2 separado"
    placement="right"
    *ngIf="nuevaJornada.tieneDescuento"
    [ngbPopover]="listaDescuentos"
  >
    Códigos
  </span>

  <ng-template #listaDescuentos>
    <div *ngFor="let texto of descuentos">
      <div>{{ texto }}</div>
    </div>
  </ng-template>
</div>

<div class="row" *ngIf="nuevaJornada.tieneDescuento">
  <hr class="col-md-6" />

  <div class="col-md-6 table-center">
    <table class="table table-hover">
      <thead>
        <th>Código</th>
        <th>Descripción</th>
        <th>Descuento</th>
        <th *ngIf="nuevaJornada.listaDescuentos.length > 1">Opciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let desc of nuevaJornada.listaDescuentos; index as i">
          <td>
            <input
              type="text"
              class="form-control"
              placeholder="CJ"
              *ngIf="desc.codigo.mostrar"
              (keyup.enter)="buscarDescuento(desc, i)"
              (keydown.Tab)="buscarDescuento(desc, i)"
              [(ngModel)]="desc.codigo.valor"
              [ngClass]="{ validation: !desc.codigo.esTextoValido }"
            />
            <span *ngIf="!desc.codigo.mostrar">{{desc.codigo.valor}}</span>
          </td>
          <td>
            {{ desc.descripcion.valor }}
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              placeholder="10%"
              [(ngModel)]="desc.descuento.valor"
              (keyup.enter)="iniciarJornada()"
              (keydown.Tab)="agregarDescuento()"
              [ngClass]="{ validation: !desc.descuento.esValido }"
            />
          </td>
          <td *ngIf="nuevaJornada.listaDescuentos.length > 1">
            <button
              class="btn btn-danger"
              title="Eliminar descuento del listado"
              (click)="quitarDescuento(i)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
