<!-- MODULO VENTAS -->
<ng-container *ngIf="modulo.ventas.ver">
  <div class="col-md-3 btn-group">
    <button class="btn btn-success" (click)="iniciarJornada()">
      Iniciar jornada
    </button>
  </div>
</ng-container>

<ng-container *ngIf="modulo.ventas.crear">
  <div class="col-md-3 btn-group">
    <button class="btn btn-info" (click)="irMedioPagos()">
      Formas de pago
    </button>
  </div>

  <div class="col-md-3 btn-group segundo-grupo">
    <button class="btn btn-warning" (click)="sumarArticuloVenta()">
      Agregar otro artículo
    </button>
  </div>
</ng-container>

<ng-container *ngIf="modulo.ventas.modificar">
  <div class="col-md-4 btn-group">
    <button class="btn btn-info" (click)="volverListadoArticulos()">
      Volver a los artículos vendidos
    </button>
  </div>

  <div class="col-md-3 btn-group segundo-grupo">
    <button class="btn btn-success" (click)="terminarVenta()">
      Confirmar venta
    </button>
  </div>
</ng-container>
<!-- /MODULO VENTAS -->

<!-- MODULO STOCK -->
<ng-container *ngIf="modulo.stock.raiz">
  <div class="col-md-12 form-inline">
    <div class="input-group md-3">
      <div class="input-group-prepend">
        <button class="btn btn-info" (click)="agregarArticulos()">
          Agregar artículo/s
        </button>

        <button class="btn btn-warning" (click)="verPreciosCambiados()">
          Ver precios modificados
        </button>

        <button class="btn btn-danger" (click)="verArticulosBorrados()">Ver articulos eliminados</button>
      </div>

      <input
        class="form-control"
        type="search"
        placeholder="Buscar artículos por código o descripción"
        (keyup)="buscarStock($event.target.value)"
      />
    </div>
  </div>
</ng-container>

<ng-container *ngIf="modulo.stock.crear">
  <div class="col-md-6 btn-group">
    <button class="btn btn-success" (click)="registrarArticulos(true)">
      Registrar artículos nuevos
    </button>
    <button class="btn btn-danger" (click)="registrarArticulos(false)">
      Cancelar registro
    </button>
  </div>

  <div class="col-md-3 btn-group">
    <button class="btn btn-warning" (click)="sumarArticulo()">
      Agregar otro artículo
    </button>
  </div>
</ng-container>

<ng-container *ngIf="modulo.stock.modificar">
  <div class="col-md-3 btn-group">
    <button class="btn btn-info" (click)="volverStock()">
      Volver al stock
    </button>
  </div>
</ng-container>

<ng-container *ngIf="modulo.stock.eliminar">
  <div class="col-md-3 btn-group">
    <button class="btn btn-info" (click)="volverStock()">
      Volver al stock
    </button>
  </div>
</ng-container>
<!-- /MODULO STOCK -->

<!-- MODULO ESTADISTICAS -->
<ng-container *ngIf="modulo.estadisticas.raiz">
  <div class="col-md-3 btn-group">
    <button class="btn btn-info" (click)="terminarJornada()">
      Terminar jornada
    </button>
  </div>

  <div class="col-md-3 btn-group segundo-grupo">
    <button class="btn btn-warning" (click)="verArticulosVendidos()">
      Ver articulos vendidos
    </button>
  </div>
</ng-container>

<ng-container *ngIf="modulo.estadisticas.ver">
  <div class="col-md-3 btn-group">
    <button class="btn btn-info" (click)="volverEstadisticas()">
      Volver a la lista
    </button>
  </div>
</ng-container>

<ng-container *ngIf="modulo.estadisticas.modificar">
  <div class="col-md-6 btn-group">
    <button class="btn btn-info" (click)="volverEstadistica()">
      Volver a la estadística
    </button>
    <button class="btn btn-info" (click)="volverEstadisticas()">
      Volver a la lista
    </button>
  </div>
</ng-container>

<ng-container *ngIf="modulo.estadisticas.crear">
  <div class="col-md-6 btn-group">
    <button class="btn btn-info" (click)="volverJornada()">
      Volver a la jornada
    </button>
    <button class="btn btn-info" (click)="volverEstadistica()">
      Volver a la estadística
    </button>
    <button class="btn btn-info" (click)="volverEstadisticas()">
      Volver a la lista
    </button>
  </div>
</ng-container>

<ng-container *ngIf="modulo.estadisticas.eliminar">
  <div class="col-md-12 form-inline">
    <div class="input-group md-3">
      <div class="input-group-prepend">
        <button class="btn btn-info" (click)="volverEstadisticas()">
          Volver a la lista
        </button>
      </div>

      <input
        class="form-control"
        type="search"
        placeholder="Buscar artículos por código o descripción"
        (keyup)="buscarArticulosVend($event.target.value)"
      />
    </div>
  </div>
</ng-container>
<!-- /MODULO ESTADISTICAS -->

<!-- MODULO USUARIOS -->
<div class="col-md-3 btn-group" *ngIf="modulo.usuarios.raiz">
  <button class="btn btn-info" (click)="agregarUsuario()">
    Registrar nuevo usuario
  </button>
</div>

<div class="col-md-6 btn-group" *ngIf="modulo.usuarios.crear">
  <button class="btn btn-success" (click)="registrarUsuario(true)">
    Confirmar registro
  </button>
  <button class="btn btn-danger" (click)="registrarUsuario(false)">
    Cancelar registro
  </button>
</div>

<div class="col-md-6 btn-group" *ngIf="modulo.usuarios.ver">
  <button class="btn btn-warning" (click)="modificarUsuario()">
    Modificar usuario
  </button>
  <button class="btn btn-primary" (click)="volverUsuarios()">
    Volver a la lista
  </button>
</div>

<div class="col-md-6 btn-group" *ngIf="modulo.usuarios.modificar">
  <button class="btn btn-success" (click)="guardarUsuario(true)">
    Guardar cambios
  </button>
  <button class="btn btn-danger" (click)="guardarUsuario(false)">
    Cancelar cambios
  </button>
</div>
<!-- /MODULO USUARIOS -->
