<div class="row">
  <div class="col-md-12">
    <h4>
      ¿Qué compró el cliente?

      <span
        class="badge badge-info mr-2 separado"
        placement="right"
        *ngIf="jornada.tieneDescuento"
        [ngbPopover]="listaDescuentos">
        %
      </span>

      <ng-template #listaDescuentos>
        <div *ngFor="let texto of jornada.textoDescuentos">
          <div>{{texto}}</div>
        </div>
      </ng-template>
    </h4>
  </div>
</div>

<div class="col-md-10 table-center">
  <table class="table table-hover">
    <thead>
      <th>Código artículo</th>
      <th>Descripción</th>
      <th>Precio stock</th>
      <th>Descuento %</th>
      <th>Precio venta</th>
      <th *ngIf="nuevaVenta.articulos.length > 1">Opciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let art of nuevaVenta.articulos; index as i">
        <td>
          <input
            id="test-{{i}}"
            type="text"
            class="form-control"
            placeholder="CJ{{i+1}}"
            *ngIf="!art.truncarCodigo"
            (keyup.enter)="buscarArticuloVenta(art, i)"
            (keydown.Tab)="buscarArticuloVenta(art, i)"
            [(ngModel)]="art.codigo.valor"
            [ngClass]="{ 'validation': !art.codigo.esValido }"
          >
          <span *ngIf="art.truncarCodigo">{{art.codigo.valor}}</span>
        </td>
        <td>{{art.descripcion.valor}}</td>
        <td>{{art.precioStock.valor | currency}}</td>
        <td>
          <input
            id="desc-{{i}}"
            type="text"
            class="form-control"
            placeholder="$1000"
            (keydown.Tab)="agregarArticulo()"
            (keyup.enter)="agregarArticulo()"
            [(ngModel)]="art.descuento.valor"
            [ngClass]="{ 'validation': !art.descuento.esValido }">
        </td>
        <td>{{art.calcularPrecioVenta | currency}}</td>
        <td *ngIf="nuevaVenta.articulos.length > 1">
          <button class="btn btn-danger" title="Eliminar artículo del listado" (click)="quitarArticuloVenta(i)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
